/* First */
body {background-color: lightblue;} 
#head1 {color: crimson;} #para1 {color: chocolate;}

/* Second */
#head2 {color: red;} #para2 {color: black;}

/* Third */
#head3 {color: green;} #para3 {color: purple;}

/* Fourth */
#head4 {color: cyan;} #para4 {color: magenta;}

/* Fifth */
#head5 {color: darkorange;} #para5 {color: black;}
